# Compiled Python files
*.pyc
__pycache__/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# IDE / editor specific files
.idea/
.vscode/
*.swp

# Other
*.log
*.pyo
*.orig
*.bak
*.tmp

function_list2.py
*.txt
inputs.cv
